streamlit>=1.35.0
pandas>=2.0.0
numpy==1.26.4
scikit-learn>=1.4.0
matplotlib>=3.8.0
plotly>=5.22.0
wordcloud>=1.9.3
nltk>=3.8.0
folium>=0.16.0
streamlit-folium>=0.20.0
geopy>=2.4.1
streamlit-js-eval>=0.1.7
malaya>=5.0
tensorflow-cpu==2.13.0
protobuf==3.20.3
torch>=2.0.0
